.honkai-button {
  border: none;
  border-radius: 0.1rem;
  background: #f9e052;
  color: black;
  height: 0.7rem;

  font-weight: bold;
  font-size: 0.3rem;
  letter-spacing: 0.03rem;
}
.honkai-button:active {
  background: white;
}
.honkai-button--skew {
  transform: skewX(-16deg);
  border: 0.07rem solid white;
  border-radius: 0.2rem;
  border-top: none;
  border-bottom: none;
}
.honkai-button--skew div {
  transform: skewX(16deg);
}

.honkai-button--top-left-button {
  position: absolute;
  top: 0.1rem;
  left: 0.3rem;
  width: 1.9rem;
  height: 0.7rem;
}

.honkai-button--small-top-left-button {
  width: 0.9rem;
  height: 0.7rem;
}

.winter-button {
  position: relative;
  width: 1.9rem;
  padding: 0.1rem;
  border: 3px double #444;
  border-radius: 0.2rem;
  font-weight: bold;
  font-size: 0.3rem;
  background: gold;
}

.back-button.winter-button::before {
  content: "<";
  margin-right: 0.1rem;
}
.back-button.winter-button::after {
  content: "B A C K";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0.25rem;
  font-size: 0.1rem;
  color: #666;
}
