.select-character-name {
  position: absolute;
  bottom: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% + 0.2rem);
  min-height: 0.3rem;
  box-sizing: border-box;
  padding: 0.1rem;
  background: black;
  color: white;
  border-radius: 10%;
  word-break: keep-all;
  font-size: 0.25rem;
}

.select-character-image {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.2rem;

  background-size: 2.3rem;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.select-character {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 1.9rem;
  height: 2.3rem;
  margin: 0.2rem;
  border: 0.05rem solid rgba(0,0,0, 0.5);
  border-top: 0.15rem double red;
  background: linear-gradient(0deg, transparent 40%, white 80%, rgba(255, 255, 255, 0.5));
  border-radius: 10%;
}

.select-character-list-item {
}

.select-character-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

#select {
  background: #444;
}

.select-book {
  position: absolute;
  height: 80%;
  bottom: 5%;
  width: 95%;
  right: 2.5%;
  display: flex;
  background: #812220;
  border-radius: 0.2rem;
}
.select-book h2 {
  margin: 0;
  color: #444;
}

.select-book-left {
  margin: 0.4rem;
  padding: 0.2rem;
  width: 3rem;
  background: #FCE7C8;
  border-radius: 0.2rem;
}

.select-book-right {
  flex: 1;
  margin: 0.4rem;
  margin-left: 0;
  padding: 0.2rem;
  background: #FCE7C8;
  overflow: auto;
  border-radius: 0.2rem;
}

.select-green {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: #83AD2D;
}

#select .back-button {
  position: absolute;
  top: 4%;
  left: 2.5%;
}
