.combo {
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 4rem);
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  opacity: 1;

  transition: none;
}
.combo.fade-out {
  opacity: 0;

  transition: opacity 0.6s ease;
}
.combo.hide {
  display: none;
}
.combo-count {
  position: absolute;
  top: calc(50% - 0.35rem);
  left: calc(50% - -0.15rem);
  transform: translate(-50%, -50%) skewX(-15deg);
  height: 0.6rem;
  padding: 0.05rem;
  border-radius: 0.1rem;
  line-height: 1;
  font-size: 0.6rem;
  font-weight: bold;
  background: white;
  color: #09c6e4;
  opacity: 1;

  transition: opacity 0.1s ease, color 0.3s ease, background 0.3s ease;
}
.combo-label {
  position: absolute;
  top: calc(50% - -0.4rem);
  left: calc(50% - -0rem);
  transform: translate(-50%, -50%) skewX(-15deg);
  padding: 0.05rem;
  border-radius: 0.1rem;
  line-height: 1;
  font-size: 0.4rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
  color: white;
  background: #09c6e4;
  opacity: 1;

  transition: opacity 0.1s ease, color 0.3s ease, background 0.3s ease;
}
.combo.combo--hilight .combo-count {
  opacity: 0;
  background: #09e9ea;
  color: black;

  transition: none;
}
.combo.combo--hilight .combo-label {
  opacity: 0;

  transition: none;
}
