#end {
  background: url(../../resources/background-snow.png);
  background-size: auto 100%;
  background-position: center;
}

.result {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.title {
  transform: skewX(-16deg);
  color: white;
  font-weight: bold;
  margin-left: 0.8rem;
  margin-bottom: 0.2rem;
  font-size: 0.7rem;
  text-shadow:
      1px 1px black, 1px 0px black, 0px 1px black,
      2px 1px black, 1px 2px black, 2px 2px black,
      0px 2px black, 2px 0px black;
}

.max-combo-wrapper {
  display: flex;
  justify-content: flex-end;
}

.max-combo-wrapper > div {
  transform: skewX(-16deg);
  padding: 0.2rem;
  border-radius: 0.2rem;
  color: white;
  background-color: rgba(50, 114, 205, 0.7);
  margin-right: 0.2rem;
}
.max-combo-wrapper > div:last-child {
  margin-right: initial;
}

.max-combo-message {
  width: 5rem;

  font-size: 0.5rem;
  font-weight: bold;
}
.max-combo-message > div {
  transform: skewX(16deg);
}
.max-combo-message::after {
  content: "MAX COMBO";
  position: absolute;
  bottom: 0.05rem;
  left: 0.3rem;
  transform: skew(16deg);
  font-size: 0.2rem;
  color: rgba(35, 35, 35, 0.9);
}

.max-combo-text {
  width: 1rem;

  text-align: right;
  font-size: 0.5rem;
  font-weight: bold;
}

.click-pad {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
